{% extends 'authenticated/base.html.twig' %}

{% block list %}
    {% set i = 0 %}
    <div class="row">
    {% for end in ends %}
        {% if i % 3 == 0 and i != 0 %}
            <div class="row">
        {% endif %}
        <div class="col-md-4">
            <div class="card m-3">
                <img class="card-img-top" src="{{ end.img }}" alt="Card image cap">
                <div class="card-body">
                    <h3>{{ end.name }}</h3>
                    <p class="card-text">{{ attribute(end, 'description-fr') }}</p>
                </div>
            </div>
        </div>
        {% set i = i + 1 %}
        {% if i % 3 == 0 and i != 0 %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}