{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        <div class="main-block">
            <div id="logo"><img src="{{ asset('img/logo.png') }}" alt="Logo"></div>
            <div class="login-block">
                <h1>Mon Compte</h1>

                {{ form(form) }}

                <p class="no-account">
                    Pas encore de compte ? <a href="#">Inscris-toi !</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
