label {
    display: block;
    margin-top: 10px;
}

input {
    border: 0;
    padding: 5px;
    width: 300px;
}

button {
    background-color: green;
    border: 0;
    margin-top: 20px;
    color: #fff;
    width: 300px;
}